.classpath
.class
*log
*target
*.idea
.idea/
TEST*.xml
*.DS_Store
Thumbs.db

*.pb
*.app
*.exe
*.war
*.iml
*.ipr
bin
.project
.settings
out
/out/

# Allure reports
build/*

allure-results/*

# Selenide folder
selenideFolder/*